@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -webkit-linear-gradient(to bottom, #8e54e9, #4776e6);
  background: linear-gradient(to bottom, #8e54e9, #4776e6);
  width: 100%;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.App {
  margin: 2rem auto;
  width: 95%;
  background-color: #fff;
  max-width: 1200px;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header {
  text-align: start;
  padding: 1rem;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  &__title {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
  }
}

